/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  background-color: cadetblue!important;
  background-image: aliceblue!important;
}
